<h1>Index!</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="stations">
        <% @stations.each do |station| %>
          <h4><%= station.address %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
