// Specific CSS for your home-page
.landing-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://2.bp.blogspot.com/-ntdGn8OWtJM/WH2JugK4JOI/AAAAAAAAEl0/4INBsWT4d7w_RJgPhfHCOTQ3MkAJ6FcwgCLcB/s1600/2fb4e31….jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.front-page-text > h1, .front-page-text > p {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.front-page-text {
  position: relative;
  top: 66px;
  left: 280px;
  padding: 20px;
}

.move-down {
  margin-top: 38px;
}
