body {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url(https://2.bp.blogspot.com/-ntdGn8OWtJM/WH2JugK4JOI/AAAAAAAAEl0/4INBsWT4d7w_RJgPhfHCOTQ3MkAJ6FcwgCLcB/s1600/2fb4e31a3fbcc67a6832da712d9435b9.jpg);
  height:100vh;
  background-position: center;
}
