h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    }

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}


.front-page-text p {
  font-size:20px;
}

p {
  font-family: Josefin Sans, sans-serif;
}

#navbarSupportedContent a {
  font-family: Josefin Sans, sans-serif;
}

#dropdownMenuButton {
  font-family: Josefin Sans, sans-serif;
}

h3 {
  font-family: Josefin Sans, sans-serif;
}

.rating-header {
  font-family: Josefin Sans, sans-serif;
}



