.navbar-lewagon {
  justify-content: space-between;
  background: #424242;
  color: white;
}

li.navbar-search {
  margin-right: 300px;
}

.navbar-create-btn {
    background-color: #f99441;
    margin-right: 20px;
    border-radius: 2px;
    padding-left: 0px !important;
}
.navbar-create-btn:hover {
    background-color: #f98628;
}


#algolia-places-listbox-0 {
  z-index: 110;
}
.navbar-search-field > .algolia-places > .ap-input {
  width: 50vw;
}

.navbar-search-field {
  z-index: 110;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}
#navbar-class a {
  color: white;
}

#dropdown-menu-items a{
  color: grey;
}

#dropdownMenuButton {
  background-color: #333333;
  border: 1px solid transparent;
  font-family: Josefin Sans, sans-serif;
}

.navbar-nav > li{
  padding-left:30px;
}
