.create-content {
  height: 500px;
  width: 700px;
  display: inline-block;
  border: 0.5px solid lightgray;
  padding: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
  box-shadow: 1px 1px 10px lightgrey;
}
