.search-form {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 130px;
  z-index: 2000;

}

.search-form-content {
  padding: 25px;
}

.search-input-field {
  color: gray;
  font-size: 13px;
}

/* Time eases in ;) */
.flatpickr-time {
  transition: ease 0.2s;
}

/* Default height of 28px is not enough */
.flatpickr-months .flatpickr-month {
  height: 31px !important;
}
