.search-form {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 10px;
  bottom: 182px;
  width: 355px;
}

.search-form-content {
  padding: 25px;
}

.search-input-field {
  color: gray;
  font-size:13px;
}
