.booking-form {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 40px;
  z-index: 1000;
}

.booking-form-content {
  padding: 25px;
}

.booking-form-form {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.search-input-field {
  color: gray;
  font-size:13px;
}

#header-create-booking {
  h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    border-bottom: 0.5px solid #C0C0C0;
    }
  margin-bottom: 20px;
}

#price-create-booking {
  display: flex;
  border-bottom: 0.5px solid #C0C0C0;
  margin-bottom: 20px;
  p {
    font-size: 15px;
    color: black;
  }
}

#price-per-hour {
  font-weight: lighter;
  font-size: 13px;
  padding-left: 4px;
}

#booking-info-message p {
  font-weight: lighter;
  font-size: 10px;
  color: #C0C0C0;
}

#range_start {
  font-size: 10px;
  padding: 20px;
}

#range_end {
  font-size: 10px;
  padding: 20px;
}

.wrapper-detail-page {
  display: flex;
}

.detail-map{
  height: 200px;
  width: 100%;
}


#detail-map-one {

}

.main-content-wrapper {
  margin-right: 50px;
}

.wrapper-detail-page {
  margin-top: 25px;
}

// .rating-criteria-detail {
//   display: flex;
// }

.booking-create-btn {
    background-color: #f99441;
    margin-right: 20px;
    border-radius: 2px;
    padding-left: 0px !important;
    color: white;
    font-family: Josefin Sans, sans-serif;
    text-align: center;
}
.booking-create-btn:hover {
    background-color: #f98628;
    color: white;
}


.flex-box-input-review {
  display: flex;
  justify-content: space-between;
}






