.form-inputs-signup {
  width: 230px;
  height: 400px;
}


.login-content-signup {
  height: 590px;
  display: inline-block;
  border: 0.5px solid lightgray;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
  box-shadow: 1px 1px 10px lightgrey;
}

.charging-image-signup {
  height: 590px;
  width: 250px;
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  opacity: 0.7;
  box-shadow: 1px 1px 10px lightgrey;
}









